{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ transaction.message }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td>{% trans "Recipient" %}</td>
            <td>{{ transaction.recipient.username }}</td>
          </tr>
          <tr>
            <td>{% trans "Message" %}</td>
            <td>{{ transaction.message }}</td>
          </tr>
          <tr>
            <td>{% trans "File" %}</td>
            <td>
              <a href="{{ transaction.file.url }}">
                {{ transaction.file.url }}
              </a>
            </td>
          </tr>
          <tr>
            <td>{% trans "File hash" %}</td>
            <td>{{ transaction.file_hash }}</td>
          </tr>
          <tr>
            <td>{% trans "Stellar transaction link" %}</td>
            <td>
              {% if transaction.is_submitted %}
                <a href="{{ transaction.stellar_transaction_link }}" target="_blank">
                  {{ transaction.stellar_transaction_hash }}
                </a>
              {% else %}
                {% trans "Transaction not submitted" %}
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
