{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">{% trans "Profile" %}</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped table-bordered">
        <tr>
          <td>
            {% trans "Username" %}
          </td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>
            {% trans "Stellar Seed" %}
          </td>
          <td>{{ user.stellar_seed|default_if_none:"" }}</td>
        </tr>
        <tr>
          <td>
            {% trans "Stellar key" %}
          </td>
          <td>{{ user.stellar_key|default_if_none:"" }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock content %}
